<div class="large-4 columns"></div>
<div class="row">
  <div class="large-9 medium-8 columns">
    <h2>Details of the Curriculum:</h2>
    <!-- Grid Example -->
    <hr />         
  <form>
	  <div class="row">
	    <div class="large-12 columns">

<h5>Details will come here:</h5>

		</div>
		<%= link_to "back to curriculums", curriculums_path %>
	  </div>
  </form>
   </div>
</div>