/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 *= require foundation_and_overrides

 */

 @import url(https://fonts.googleapis.com/css?family=Pacifico);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Maven+Pro:400,500,700,900|Pontano+Sans);

$navbar: RGBA(238, 237, 233, 1);

 body {
 	background-color: $navbar;
 	  -webkit-font-smoothing: antialiased;
 }


 .top-bar {
 	background: RGBA(48, 56, 64, 1);
 	box-shadow: 0px 10px 23px -18px rgba(0,0,0,0.95);
 }


.flash {
	background: RGBA(227, 246, 228, .5);
	color: RGBA(52, 52, 54, 1);
	text-align: center;
	margin: 0px;
	padding: 2px;
}

 #logo {
 	color: RGB(232, 86, 113);
 	font-family: 'Pacifico', cursive;
 	text-align: center;
 	color: white;
 	font-size: 85px;
 	margin: 0 auto;
 	padding: 10px 0 10px 0;
 	height: 90px;
	text-shadow: 2px 2px 11px #303840;
	padding-top: 150px;
 }

  .banner {
	background-image: image-url('coffee.jpg');
	background-position: 0px -120px, center;
	background: cover;
	background-size: 100%;
	background-attachment: fixed;
	// background-color: RGBA(86, 208, 179, 1);
	// opacity: 0.7;
	height: 610px;
	width: 100%;
	z-index: 1000;
 }


 #search_form {
 	padding-top: 20px;
 }

/* to avoid squashed zoom control */
 img {
 	max-width: none;
 }

 #map-canvas {
 	// border-radius: 3px;	
 	border: 1px solid #D8D8D8;
 	display: none;
 	width: 80%; 
 	height: 60%; 
 	margin: auto;
 	margin-bottom: 20px;
 	box-shadow: 10px 90px 93px -90px rgba(0,0,0,0.35);
 }

 .pagesGroup {
 
 }


