// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.moreInfo {
	background: RGBA(255, 255, 255, 1);
	border-radius: 4px;
	// width: 970px;

}

#moreInfo_buttons {

	margin: 0px;
	padding: 0px;
	text-align: center;

}

.pagesGroup {
	background: RGBA(255, 255, 255, 1);
	height: 200px;
	border-radius: 4px;
}

#about {
	padding: 10px 3px 15px 3px;
	// background-color: black;
	font-size: 24px;
	text-align: center;
}

.infowindow {
	font-size: 10px;
}

svg {
	height: 150%;
	width: inherit;
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 130px;


}


 #logo {
 	color: RGB(232, 86, 113);
 	font-family: 'Pacifico', cursive;
 	text-align: center;
 	color: white;
 	font-size: 85px;
 	margin: 0 auto;
 	padding: 10px 0 10px 0;
 	height: 90px;
	text-shadow: 2px 2px 11px #303840;
	padding-top: 40px;
 }

 #sub_logo {
 	font-size: 40px;
 }
