<div class="row">
  <div class="medium-4	 columns">
  	THIS IS COL 1, THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1THIS IS COL 1
  </div>
  <div class="medium-4 columns">
  	THis is COL 2,THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2
  </div>
   <div class="medium-4 columns">
  	THis is COL 3,THis is COL 3THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 2THis is COL 3THis is COL 3THis is COL 2THis is COL 2THis is COL 2THis is COL 3THis is COL 2
  </div>
</div>
<br/>

<div class="row">
  <div class="medium-3 columns">3 columns</div>
  <div class="medium-9 columns">9 columns</div>
</div>
