<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0MS3mKku6rDfWhvQcVYfMqVBCfr4sxLw"> 
</script>

<script>
var map;

function initialize() {
  var mapOptions = {
    zoom: 12
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  $.get('/api/groups').then(function(data) {
    for(var i=0; i < data.length; i++){
      var url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + encodeURIComponent(data[i].location)
      console.log(url)
      $.get(url).then((function(i) {
      
        return function(data2) {

          var infowindow = new google.maps.InfoWindow({
            content: data[i].name
          });

          var marker = new google.maps.Marker({
          position: data2.results[0].geometry.location,
          map: map,
          title: 'Sant Marti'
          });
          
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
          });
        };
      })(i));
    }
  })

  $('#search').click(function(){
    $("#map-canvas").show("slow", function(){
      google.maps.event.trigger(map,"resize")
      if ($('#address').val() == ""){

        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

          var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'You are here!'
          });

          map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          handleNoGeolocation(false);
        }

      } else {

        var address = document.getElementById('address').value;
        var url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + encodeURIComponent(address)
        console.log(url)
        $.get(url).then(function(data) {
          map.setCenter(data.results[0].geometry.location)
          console.log(data.results[0].geometry.viewport.southwest)
          var southwest = new google.maps.LatLng(data.results[0].geometry.viewport.southwest.lat,data.results[0].geometry.viewport.southwest.lng);
          var northeast = new google.maps.LatLng(data.results[0].geometry.viewport.northeast.lat,data.results[0].geometry.viewport.northeast.lng);
          console.log(southwest)
          var bounds = new google.maps.LatLngBounds(southwest,northeast);
          map.fitBounds(bounds);
        });
      }
    });
  });

}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div class="banner">
  <h1 id="logo">Welcome to Papaya</h1>
</div>

<!-- Search Button -->

<div id="search_form" class="row">
  <div class="large-12 columns">
    

    <div class="row collapse">

    <div class="large-8 small-9 columns">
      <input id="address" type="text" placeholder="Find Groups">
    </div>

    <div class="large-4 small-3 columns">
      <button id="search" class=" postfix alert button">Search Location</button>
  </div>

</div>



</div>
</div>


<!-- Map Canvas Area -->

<div  id="map-canvas">
</div>


<!-- Button Search Area -->

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Learn Something new, with people and you!!!
      <%= link_to "See Curriculums", curriculums_path, class:   "small round button" %></h3>
    </div>
  </div>
</div>


    
<div class="row">

<% @groups.each do |group| %>
  
  <div class="large-4 columns">
    <div class="panel"  style="height: 200px;">
      <h4><%= group.curriculum.title %> </h4>
      <div class="row">
        <div class="large-9 columns">
          <p><%= truncate(group.curriculum.summary, length: 55, separator: '') %> </p>
          <button class="tiny button">Explore</button>
        </div>
      </div>
    </div>
  </div>

  <% end %>


</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright. Explorio.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://www.facebook.com/">Follow on Facebook</a></li>
          <li><a href="https://twitter.com/login">Twitter</a></li>
          <li><a href="https://www.linkedin.com/">Linkedin</a></li>
          <li><a href="https://plus.google.com/">Google+</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
    
