<div class="row">

  <div class="large-12 columns">
    <h1>Welcome to Explor.io</h1>
  </div>
  <hr />
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
    <h3>Select the field of search</h3>
    <div class="row">
      <div class="large-12 columns">
        <label>Finnest Search</label>
        <select>
          <option value="Location">According to Location</option>
          <option value="Topic">According to Topic</option>
          <option value="Title">According to Title</option>
          <option value="Group">Group</option>
        </select>
      </div>
    </div>
    <a href="#" class="small round button">Search for it!</a><br/>
    </div>
   </div>
  </div>
    
 
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright. Explorio.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="https://www.facebook.com/">Follow on Facebook</a></li>
            <li><a href="https://twitter.com/login">Twitter</a></li>
            <li><a href="https://www.linkedin.com/">Linkedin</a></li>
            <li><a href="https://plus.google.com/">Google+</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
    
